main{
    width: 100vw;
    height: 100vh;
    background-color: var(--grey5);

}

.darkButton{
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: var(--darkButton);
    cursor: pointer;
    margin-right: 3.4375rem;
}

header{
    width: 100vw;
    height: 80px;
    background-color: var(--brand-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

header > h1{
    color: var(--WhiteFixed);
    margin-left: 5%;
}

.fa-bars{
    font-size: 1.875rem;
    color:white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top:1.5625rem;
    right: 1.875rem;
}

nav{
    position: fixed;
    top:-200px;
    left: 0;
    height: fit-content;
    width: 100vw;
    background-color: var(--grey5);
    transition: 1s;
    opacity: 0;
    z-index: 1;
   
    
}

nav > li{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey0);
    cursor: pointer;
    background-color: var(--grey5);
    border-bottom: 1px solid var(--grey0);
}

.fa{
    margin-right: 8px;
}

.showMenu{
    top:80px;
    opacity: 1;
    transition: 1s;
}